extends layout

block content 
  header(class='header')
    h1=title
  form(method='post', action="/new")
    div(class='formCard')
      label(for="msg")= 'New Message: ' 
      input(id='msg', name='message', type="text", required)
        
      label(for="user")= 'User: ' 
      input(id='user', name='user', type="text", required)

      input(id='submit-btn', type="submit", value="Send")